.order {
	background: url(../img/bg/order-bg.jpg) center center no-repeat;
	background-size: cover;
}

.order .container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  }

.order .section__title {
  text-align: center;
}

.order__form-left,
.order__form-right {
  float: left;
  width: 45%;
  margin-left: 5%;
}

.order__form-row_double,
.order__form-row_quatro {
  margin-left: -20px;
}

.order__form-row {
  margin-bottom: 16px;
}

.order__form-row_double .order__form-block {
  float: left;
  width: calc(100% / 2 - 20px);
  margin-left: 20px;
}

.order__form-row_quatro .order__form-block {
  float: left;
  width: calc(100% / 4 - 20px);
  margin-left: 20px;
}

.order__form-block {
  display: block;
}

.order__form-label {
  margin-bottom: 17px;
  font-family: 'ubuntulight';
  color: #fff;
  font-size: 14px;
}

.order__form-input {
  font-size: 14px;
  padding: 5px 10px;
  border: 1px solid #d1cfcb;
  border-radius: 5px;
  width: 100%;
}

.order__form-input_textarea {
  height: 110px;
}

.order__radio {
  position: relative;
  white-space: nowrap;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.order__radio-title {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #fff;
  margin-left: 10px;
}

.order__radio-elem {
  position: absolute;
  top: 0;
	left: -9999px;
}

.order__radio-fake {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  position: relative;

	&::after {
		content: "";
		display: block;
		position: absolute;
		width: 0;
		height: 0;
		border-radius: 50%;
		background: #e35028;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		transition: width .3s, height .3s;
	}
}

.order__radio_checkbox .order__radio-fake {
  border-radius: 0;
}

.order__radio_checkbox .order__radio-elem:checked+.order__radio-fake:after {
  background: url(/img/icons/check.svg) 50% no-repeat transparent;
  background-size: contain;
  width: 11px;
  height: 9px;
}

.order__radio_checkbox .order__radio-elem+.order__radio-fake:after {
  background: transparent;
}

.order__radio-elem:checked+.order__radio-fake:after {
  width: 8px;
  height: 8px;
}

.order__form-button {
  vertical-align: middle;
  margin-right: 20px;
  border: 0;
  cursor: pointer;
}

.order__form-button_reset {
  padding-left: 0;
  padding-right: 0;
  text-transform: none;
  background: transparent;
	&:hover {
		background-color: transparent;
	}
}
